
   <section class="detail container">
    <nav>
      <a href="/">Home</a>
    </nav>
      <ul id="book-list">
        <li class="book-item" data-id="<%= book.id %>">
          <p>title: <%= book.title %></p>
          <p>authors: <%= book.authors %></p>
          <p>ISBN: <%= book.isbn %></p>
          <p>description: <%= book.description %></p>
          <p>image_url: <%= book.image_url %></p>
          <p>bookshelf: <%= book.bookshelf %></p>
        </li>
      </ul>
    </section>
  

    
