
    <section class="task-view container">
        <ul id="book-list">
          <li class="task-item" data-id="<%= book.id %>">
            <p>title: <%= book.title %></p>
            <p>description: <%= book.description %></p>
            <p>ISBN: <%= book.ISBN %></p>
            <p>bookshelf: <%= book.bookshelf %></p>
            <p>image_url: <%= book.image_url %></p>
          </li>
        </ul>
      </section>
    
