<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Book Collection</title>
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/base.css">
    <link rel="stylesheet" href="/styles/icons.css">
    <link rel="stylesheet" href="/styles/layout.css">
    <link rel="stylesheet" href="/styles/modules.css">
  </head>
  
  <body>
    <header>
      <h1>
        <nav>
          <a href="/">Home</a>
          <a href="/searches/new">Search Book</a>
        </nav>
      </h1>
    </header>
    <main>
        <% searchResults.forEach( book => { %>
            <h3><%= book.title %></h3>
            <h3><%= book.authors %></h3>
            <h3><%= book.description %></h3>
            <h3><%= book.ISBN %></h3>
            <h3><%= book.bookshelf %></h3>
            <h3><%= book.image_url %></h3>
            <img src="<%= book.smallThumbnail %>" alt="small picture">
            <form method="post" action="/books">
              <button type="submit">ADD BOOK</button>
              <input type="hidden" name="title" value="<%= book.title%>">
              <input type="hidden" name="authors" value="<%= book.authors%>">
              <input type="hidden" name="description" value="<%= book.description%>">
              <input type="hidden" name="ISBN" value="<%= book.ISBN%>">
              <input type="hidden" name="bookshelf" value="<%= book.bookshelf%>">
              <input type="hidden" name="image_url" value="<%= book.image_url%>">
            </form>
        <% }) %>
    </main>
  </body>
</html>